body {
    background-color: $grey;
    font-family: $font-montserrat;
    .btn {
        text-transform: uppercase;
    }
    h1,
    h2 {
        text-transform: uppercase;
    }
    .card-img-top {
        cursor: pointer;
        overflow: hidden;
        transition: transform 0.3s ease-out;
        -webkit-transition: transform 0.3s ease-out;
        -moz-transition: transform 0.3s ease-out;
        -ms-transition: transform 0.3s ease-out;
        -o-transition: transform 0.3s ease-out;
        &:hover {
            transform: scale(1.075);
            -moz-transform: scale(1.075);
            -ms-transform: scale(1.075);
            -o-transform: scale(1.075);
            -webkit-transform: scale(1.075);
        }
    }
    .vich-image {
        img {
            @extend.img-thumbnail;
            @extend.rounded;
            @extend.mx-auto;
            @extend.d-block;
            @extend.shadow-lg;
        }
        .form-check {
            @extend .mt-3;
        }
    }
    .form {
        margin: 100px auto;
    }
}