body {
    background-color: $grey;
    font-family: $font-montserrat;
    .btn {
        text-transform: uppercase;
    }
    h1,
    h2 {
        text-transform: uppercase;
    }
    .card-img-top {
        height: 300px;
    }
    .vich-image {
        img {
            @extend .img-thumbnail;
            @extend .rounded;
            @extend .mx-auto;
            @extend .d-block;
            @extend .shadow-lg;
        }
        .form-check {
            @extend .mt-3
        }
    }
    .form {
        margin: 100px auto;
    }
}