body {
    background-color: $grey;
    font-family: $font-montserrat;
    .btn {
        text-transform: uppercase;
    }
    h1,
    h2 {
        text-transform: uppercase;
    }
    .vich-image {
        img {
            width: 100%;
        }
    }
    .form {
        margin: 100px auto;
    }
}