{% extends "layouts/layout_back.html.twig" %}

{% block title  "New Pin" %}


{% block body %}

	<h1>Create Pin</h1>
	{{ include("partials/_from-pindetails.html.twig",{ buttonText :"Create Pin"}) }}

{% endblock %}
