{% extends "layouts/layout_back.html.twig" %}

{% block title  "Edit Pin"~ pin.id %}


{% block body %}

	<div class="row form">
		<div class="col-md-6 mx-auto">
			<h1>Edit Pin no :{{pin.id}}</h1>
			{{ include("partials/forms/_form-pindetails.html.twig",{"buttonText":"Edite Pin"}) }}
		</div>
	</div>

{% endblock %}
