{% extends "layouts/layout_back.html.twig" %}

{% block title %}ALL PINS!
{% endblock %}

{% block body %}
	{% if pins|length > 0 %}
		<h1 class="display-6 text-center">
			{{  pluralize(pins|length,"Pin","Pins") }}
		</h1>
		{{ include('pins/pins_show_article.html.twig') }}
		{# <div>{{ toto()}}</div> #}
	{% else %}
		<p class="h1 mt-5 text-center">No pins added
			<a href="{{path("add_new_pin")}}">Add first pin</a>
		</p>
	{% endif %}

{% endblock %}
