<div>
   {% for type, messages in app.flashes(['success', 'warning','info']) %}
     {% for message in messages %}
         <div class="flash-{{ type }}">
             {{ message }}
         </div>
     {% endfor %}
   {% endfor %}
</div>